

<!-- begin::Row -->
<!--<div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3
      class="card card-xxl-stretch mb-xl-3"
    ></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10
      class="card card-xxl-stretch mb-5 mb-xl-8"
    ></app-tables-widget10>
  </div>
</div>-->
<!-- end::Row -->

<!-- begin::Row -->
<div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
 </div>
  
</div>
<!-- end::Row -->

