<!-- Dashboard -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div>


  <!-- offre -->
  <div
    class="menu-item menu-accordion pt-1 pb-1"
    data-kt-menu-trigger="click"
    routerLinkActive="here show"
  >
    <span class="menu-link"
      ><span class="menu-icon"
        ><span
          class="svg-icon svg-icon-2"
        ></span><i class="fa-solid fa-table-list"></i></span
      ><span class="menu-title" data-link="/offers">Offers</span
      ><span class="menu-arrow"></span
    ></span>
    <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
      <div class="menu-item">
        <a class="menu-link without-sub" [routerLink]="['/offers/trip']" [queryParams]="{ type: 'trip' }" routerLinkActive="active">
          <span class="menu-bullet"><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Trips</span></a
        >
      </div>
      <div class="menu-item">
        <a
        class="menu-link without-sub" [routerLink]="['/offers/omra']" [queryParams]="{ type: 'omra' }" routerLinkActive="active">

          <span class="menu-bullet"><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Omra</span></a
        >
      </div>
      <div class="menu-item">
        <a class="menu-link without-sub" [routerLink]="['/offers/excursions']" [queryParams]="{ type: 'excursion' }" routerLinkActive="active">
          <span class="menu-bullet"><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Excursions</span></a
        >
      </div>
      <div class="menu-item">
        <a class="menu-link without-sub" [routerLink]="['/offers/hiking']" [queryParams]="{ type: 'hiking' }" routerLinkActive="active">
          <span class="menu-bullet"><span class="bullet bullet-dot"></span></span
          ><span class="menu-title">Hiking</span></a
        >
      </div>
    </div>
  </div>




<!-- Reservations -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/reservations"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        class="svg-icon svg-icon-2"
      ></span> <i class="fa-solid fa-bookmark"></i></span
    ><span class="menu-title">Reservations</span></a
  >
</div>

<!-- Clients -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/clients"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        class="svg-icon svg-icon-2"
      ></span> <i class="fa-solid fa-user"></i> </span
    ><span class="menu-title">Clients</span></a
  >
</div>

<!-- Agents -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/agents"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        class="svg-icon svg-icon-2"
      ></span> <i class="fa-solid fa-user-gear"></i></span
    ><span class="menu-title">Agents</span></a
  >
</div>
<!-- statistiques -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/statistiques"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span class="svg-icon svg-icon-2" > </span><i class="fa-solid fa-chart-simple"></i> </span
    ><span class="menu-title">Statistiques</span></a
  >
</div>

<!-- settings -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/settings"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        class="svg-icon svg-icon-2"
      ></span><i class="fa-solid fa-gear"></i> </span
    ><span class="menu-title">Settings</span></a
  >
</div>




