<div class="modal-header">
    <h4 class="modal-title">Price Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="start_date" class="form-label">Start Date</label>
        <input id="start_date" formControlName="start_date" type="date" class="form-control">
      </div>
      <div class="mb-3">
        <label for="end_date" class="form-label">End Date</label>
        <input id="end_date" formControlName="end_date" type="date" class="form-control">
      </div>
      <div class="mb-3">
        <label for="hotels" class="form-label">Hotels</label>
        <input id="hotels" formControlName="hotels" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input id="price" formControlName="price" type="number" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
  