/* Ensure the card-header uses flexbox and aligns items correctly */
.card-header {
    display: flex;
    justify-content:space-between; /* Pushes items to the edges */
    align-items: center; 
    padding-left: 4px;/* Aligns items vertically centered */
  }
  
  .card-toolbar {
    text-align: right; /* Optional: Ensures text alignment in the toolbar */
  }
  
 
  .table tbody tr {
    border-bottom: 1px solid #dee2e6; /* Light gray color for the border */
  }
  
  .table tbody tr:last-child {
    border-bottom: none; /* Remove the border from the last row */

  }
.table thead th{
  background-color: rgba(255, 255, 255, 0.957);
  border-bottom: 1px solid #dee2e6; /* Light gray color for the border */

}  


