button {
    margin-right: 8px;
  }
/* styles.scss or styles.css */
.mat-dialog-container {
    border-radius: 8px;
    overflow: hidden; /* Ensure content does not overflow the border-radius */
    width: 100%;
  }
  