<div class="modal-header">
  <h5 class="modal-title">Add {{ offerType }}</h5> <!-- Dynamic title -->
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="name" [(ngModel)]="offer.name" name="name" class="form-control" placeholder="{{ offerType }} name"  required>
    </div>
    <div class="form-group">
      <input type="text" id="destination" [(ngModel)]="offer.destination" name="destination" class="form-control" placeholder="Destination" aria-label="Destination" required>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-select [formControl]="categoriesControl" multiple>
          <mat-select-trigger>
            {{ categoriesControl.value?.[0] || '' }}
            <span *ngIf="(categoriesControl.value?.length || 0) > 1" class="example-additional-selection">
              (+{{ (categoriesControl.value?.length || 0) - 1 }} {{ (categoriesControl.value?.length === 2) ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let category of availableCategories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <input type="file" class="file-input"  #fileUpload>
      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}
        <button type="button" class="upload-btn" (click)="fileUpload.click()">
          <span *ngIf="!iconAvailable">Upload Img</span>
          <mat-icon *ngIf="iconAvailable">attach_file</mat-icon>
        </button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
